/* Separating nav from bullet point  */
nav ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
  margin: 0px;
  padding: 0px;
}

/* changing the font color to black */
nav a {
  color: black;
}
/* change color when hover over the nav */
nav ul li a:hover {
  background-color: pink;
}

/* when you hover, it shows a box in the nav */
nav ul li a {
  display: inline-block;
  padding: 30px 30px;
  text-decoration: none;
}

/* Making the home page 80% of the page */
section {
  grid-column: span 2;
  background-color: pink;
  height: 80vh;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: pink;
}

main {
  grid-column: span 2;
}

/* Making the footer center and changing the background color */
footer {
  background-color: #fad5a5;
  grid-column: span 2;
  padding: 20px;
  text-align: center;
}

/* creating a grid for the parent grid */
.parent {
  display: grid;
  padding: 10px;
  margin: 10px;
  gap: 20px;
}

.box {
  border: 6px dashed pink;
  padding: 6px;
  text-align: center;
}

.projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

/* Making the img responsive and a fix size */
img {
  max-width: 100%;
  width: 450px;
  height: 450px;
  object-fit: cover;
}

/* Making the header stick to the top of the webpage */
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fad5a5;
  padding: 15px 15px;
  position: sticky;
  top: 0;
}

/* Center the text for main h2 */
main h2 {
  text-align: center;
}

@media (max-width: 600px) {
  article {
    flex-direction: column;
  }
}

h1,
h2 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

p,
a {
  font-family: "Roboto Condensed", sans-serif;
}

#Home h2 {
  font-size: 50px;
  text-align: center;
}
